<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chris.airss</string>

  <key>ProgramArguments</key>
  <array>
      <string>/Users/chris/source/airss/daily_workflow_runner.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>05</integer>
    <key>Minute</key>
    <integer>00</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/chris/source/airss/tmp/dailyjob.out</string>

  <key>StandardErrorPath</key>
  <string>/Users/chris/source/airss/tmp/dailyjob.err</string>

  <key>RunAtLoad</key>
  <true/>

  <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/chris/go/bin:/Users/chris/source/airss/venv/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>

