annotated-types==0.7.0
anyio==4.9.0
azure-core==1.33.0
azure-identity==1.21.0
azure-storage-blob==12.25.1
beautifulsoup4==4.13.4
cryptography==44.0.2
feedparser==6.0.11
h11==0.14.0
hdbscan
httpcore==1.0.8
httpx==0.28.1
isodate==0.7.2
jiter==0.9.0
joblib==1.4.2
Markdown==3.8
msal==1.32.0
msal-extensions==1.3.1
multitasking==0.0.11
networkx==3.4.2
noaa-sdk==0.1.21
numpy
openai==1.75.0
pandas
peewee==3.17.9
pydantic==2.11.3
pydantic_core==2.33.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn
scipy
setuptools==75.8.2
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
threadpoolctl==3.6.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
wheel==0.45.1
yfinance==0.2.55
zstandard==0.23.0
